<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore search:require="solr">
		<contentSearch>
			<indexConfigurations>
				<defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" >
					<fieldMap>
						<typeMatches hint="raw:AddTypeMatch">
							<!--Fix sitecore bug where Solr datetimeCollection has fieldNameFormat="{0}_dtm" but the schema builder format is "*_tdtm" -->
							<typeMatch typeName="datetimeArray"               type="System.DateTime[]"                                  fieldNameFormat="{0}_tdtm" multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
							<typeMatch typeName="datetimeCollection"          type="System.Collections.Generic.List`1[System.DateTime]" fieldNameFormat="{0}_tdtm" multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
							<typeMatch typeName="datetimeSortable"            type="System.DateTime"                                    fieldNameFormat="{0}_tdts" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
						</typeMatches>
					</fieldMap>
					<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<fields hint="raw:AddComputedIndexField">
							<!--
							<field fieldName="exampledatefield" returnType="datetimeSortable" type="SmartSolrSchema.ComputedFields.GenericDateField, SmartSolrSchema"/>
							-->
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>