<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="solr">
    <pipelines>
      <contentSearch.PopulateSolrSchema>
        <!-- Sitecore 9.1, 9.2, 9.3 -->
        <!--
        <processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.PopulateSolrSchema.PopulateFields, Sitecore.ContentSearch.SolrProvider">
          <patch:attribute name="type">SmartSolrSchema.Pipelines.SolrProvider.PopulateFields, SmartSolrSchema</patch:attribute>
        </processor>
        -->

        <!-- Sitecore 10.0+ -->
        <!--
        <processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.PopulateSolrSchema.PopulateFields, Sitecore.ContentSearch.SolrProvider">
          <param>
            <patch:attribute name="type">SmartSolrSchema.Pipelines.SolrProvider.DefaultPopulateHelperFactory, SmartSolrSchema</patch:attribute>
          </param>
        </processor>
        -->
      </contentSearch.PopulateSolrSchema>
    </pipelines>
  </sitecore>
</configuration>